.calcContainer {
    width: 608px;
    height: 343px;
}
.form {
    width: 300px;
    margin: 0 auto;
    color: #9B9FAA;
}

.formGroup {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input,
select {
    height: 15px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    background-color: #3498db;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #2980b9;
}

.bloodTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.radioLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #7F8C8D;
}

.radioInput {
    display: none;
}

.customRadio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    font-size: 1rem;
    color: #7F8C8D;
    transition: all 0.3s ease;
}

.radioInput:checked+.customRadio {
    border-color: #FC842D;
    background-color: #FC842D;
    color: white;
}

.radioInput:checked+.customRadio+.radioLabel {
    color: #FC842D;
}