:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 17px;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 34px;
  line-height: 47px;
  color: #000;
}
